<section class="mh-skills" id="mh-skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="mh-skills-inner">
          <div class="mh-professional-skill">
            <h3>Technical Sills</h3>
            <div class="each-skills">
              <div class="candidatos">
                <div class="candidatos">
                  <div class="parcial">
                    <div class="info">
                      <div class="oe">Javascript</div>
                      <div class="percentage-num">86%</div>
                    </div>
                    <div class="progressBar">
                      <div class="percentagen" style="width: 95%"></div>
                    </div>
                  </div>
                </div>

                <div class="candidatos">
                  <div class="parcial">
                    <div class="info">
                      <div class="oe">Java</div>
                      <div class="percentage-num">86%</div>
                    </div>
                    <div class="progressBar">
                      <div class="percentagem" style="width: 46%"></div>
                    </div>
                  </div>
                </div>

                <div class="candidatos">
                  <div class="parcial">
                    <div class="info">
                      <div class="oe">python</div>
                      <div class="percentage-num">86%</div>
                    </div>
                    <div class="progressBar">
                      <div class="percentagen" style="width: 86%"></div>
                    </div>
                  </div>
                </div>

                <div class="candidatos">
                  <div class="parcial">
                    <div class="info">
                      <div class="oe">php</div>
                      <div class="percentage-num">86%</div>
                    </div>
                    <div class="progressBar">
                      <div class="percentagen" style="width: 45%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="mh-progessional-skills">
            <h3>Professional skills</h3>
            <ul class="mh-professional-progress">
                <li>
                    <div class="mh-progress mh-progess-circle" data-progress="95"></div>
                    <div class="pr-skill-name">Communication</div>
                </li>
                <li>
                    <div class="mh-progress mh-progress-circle" data-progress="55"></div>
                    <div class="pr-skill-name">Team work</div>

                </li>
                <li>
                    <div class="mh-progress mh-progress-circle" data-progress="86"></div>
                    <div class="pr-skill-name">Project management</div>

                </li>
                <li>
                    <div class="mh-progress mh-progress-circle" data-progress="89"></div>
                    <div class="pr-skill-name">Creativity</div>

                </li>
            </ul>
        </div>
    </div>
  </div>
</section>
